<div style="max-width: 500px; margin: auto; display: grid; place-items: center;" onload="onLoad()">
    <h1 style="text-align: center;">Capa do filme vem aqui</h1>
    <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="" id="CapaFilme"/>
    <h2 style="text-align: center;">{{labelNomeDoFilme}}</h2>
    <h3 style="text-align: center;" >{{labelDataDoFilme}}</h3>
    <h4 style="text-align: center;" >{{labelDescricaoDoFilme}}</h4>
    <input [value]="[(inputNomeDoFilme)]"/>
    <br>
    <button type="button" (click)="buscarFilme()">Buscar Filme</button>
    <br>
    <button type="button" onclick="buscarSerie()">Buscar Série</button>
    <br>
    <button type="button" onclick="buscarJogo()">Buscar Jogo</button>
</div>